.about-container {
  padding-top: 150px;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  background-image: url('../../assets/img/lights-9597_256.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-container.light {
  background: white;
  color: black;
  background-image: url('../../assets/img/lights-9597_256.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}