.movies-container {
  padding-top: 15vh;
  background: black;
  color: white;
  text-align: center;

  .genre-name {
    font-size: 40px;
  }

  .movies {
    display: flex;
    flex-wrap: wrap;

    .movie {
      margin: 20px;
      padding: 10px;
      width: 220px;
    
      .vote-average {
        color: #494949;
        position: relative;
    
        svg {
            position: absolute;
            top: -20px;
            right: -23px;
          }
    
        p {
          position: absolute;
          top: -10px;
          right: 0px;
          font-weight: bold;
        }
      }
    
      img {
        border: 10px solid #494949;
        border-radius: 30px;
      }
    
      .movie-info {
        width: 200px;
        text-align: center;
      }
    }
  }
}

